#information_table {
	text-align: center;
	width: 100%;
	height: 520px;
}
span {
	display: inline-block;
	width: 100px;
	font-size: 18px;
	font-weight: 400px;
	text-align: right;
}
div {
	text-align: center;
	width: 100%;
	height: 15%;
}

input {
	font-size: 18px;
	border-radius: 5px;
}

button {
	width: 120px;
	height: 35px;
	font-size: 16px;
	border: 0ch;
	border-radius: 25px;
	background-color: rgb(38, 120, 255);
	color: white;
}

button:hover {
	color: red;
}

.information_show {
	
}

#background_information {
	position: absolute;
	width: 60%;
	height: 540px;
	left: 20%;
	top: 5%;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 20px;
	z-index: 1;
}

#button_table {
	width: 100%;
	height: 120px;
	text-align: center;
}

.dialog {
	display: none;
	position: fixed;
	top: 0;
	left: 40%;
	width: 300px;
	height: 250px;
	background-color: white;
	border: 0px;
	border-radius: 10px;
	padding: 0;
	border: 3px solid #4e73df;
	z-index: 3;
}

.dialog div:first-child {
	width: 100%;
	text-align: left;
	background-color: #4e73df;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}
.dialog .get {
	width: 240px;
	margin-top: 40px;
}
.dialog input {
	width: 80%;
	height: 30px;
	margin-top: 10px;
}
.dialog button {
	background-color: white;
	color: black;
	margin-top: 50px;
	border-radius: 3px;
	background-color: #4e73df;
}
.dialog button:first-child {
	background-color: lightgray;
}
.dialog button:hover {
	color: white;
}

#mask {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-color: rgba(238, 238, 238, 0.4);
	z-index: 2;
}