<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvn="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <import resource="spring-dao.xml"/>
    <!--视图解析器:DispatcherServlet给他的ModelAndView-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="InternalResourceViewResolver">
        <!--前缀-->
<!--        <property name="prefix" value="/WEB-INF/jsp/"/>-->
<!--        &lt;!&ndash;后缀&ndash;&gt;-->
<!--        <property name="suffix" value=".jsp"/>-->
    </bean>

    <mvn:interceptors>
        <mvn:interceptor>
            <mvn:mapping path="/**"/>
            <mvn:exclude-mapping path="/login/**"/>
            <bean class="com.starer.controller.interceptor.UserAuthenticationIdentifyInterceptor"/>
        </mvn:interceptor>
    </mvn:interceptors>

    <mvn:default-servlet-handler/>
    <mvn:annotation-driven/>
</beans>